/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --global-font: "IBM Plex Mono";

  --main-bg-color: #000028;
  --main-bg-image: url(../images/cover-image-dark.png);

  --header-title-color: #db00ff;
  --header-title-shadow-color: #ff0070;
  --header-menu-button-color: #ff0070;
  --header-menu-button-active-outline: #ff0070;

  --subtitle-bg-color: #ff0070;
  --subtitle-text-color: #000028;

  --decorated-zone-border-color: #ff0070;
  --indicator-text-color: #ff0070;
  --indicator-dot-bg-color: #ff0070;
  --indicator-dot-shadow-color: #ff0070;

  --main-section-title-color: #ff0070;
  --main-section-subtitle-bg-color: #ff0070;
  --main-section-subtitle-text-color: #000028;
  --main-section-link-color: #f1b2ce;
  --main-section-link-shadow-color: #ff0070;
  --main-section-link-outline-color: #f1b2ce;
  --main-article-item-color: #f1b2ce;

  --footer-title-color: #db00ff;
  --footer-title-shadow-color: #ff0070;
}
