/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --global-font: 'IBM Plex Mono';

    --main-bg-color: #FFF1F7;

    --header-bg-image: url(../images/cover-image-light.png);
    --header-title-color: #FFC2E6;
    --header-title-shadow-color: #FF0070;
    --header-menu-button-color: #353430;
    --header-menu-button-active-outline: #353430;

    --subtitle-bg-color: #FF8DCB;
    --subtitle-text-color: #353430;

    --decorated-zone-border-color: #353430;
    --indicator-text-color: #FF0070;
    --indicator-dot-bg-color: #FF0070;
    --indicator-dot-shadow-color: #FF0070;

    --main-section-title-color: #353430;
    --main-section-subtitle-bg-color: #FF8DCB;
    --main-section-subtitle-text-color: #353430;
    --main-article-item-color: #353430;

    --footer-title-color: #FFC2E6;
    --footer-title-shadow-color: #FF0070;
}

.theme_light .header_decorated-indicator {
    display: none;
}